<div class="blog-entry">
    <h2>
        <a href ="/">Fake blog title</a>
    </h2>

    <div class="blog-content">




    <p class="blog-meta">
        <a href="/">#12345</a>
        10 September 2012
    </p>



    <p>
        SWTOR was definitely a more polished launch than WAR, but arguably WAR was a more complete game.
        Both struggled with RvR in the context of engine performance, but SWTOR is much worse, but SWTOR has now completely removed all RvR. Both struggled with PvP class balance, but SWTOR has serious problems with CC in PvP.

    </p>

       </div

</div>

<div class="blog-entry">
    <h2>
        <a href ="/">Another Fake blog title</a>
    </h2>

    <div class="blog-content">




    <p class="blog-meta">
        <a href="/">#9</a>
        12 September 2012
    </p>



    <p>
        SWTOR was definitely a more polished launch than WAR, but arguably WAR was a more complete game.
        Both struggled with RvR in the context of engine performance, but SWTOR is much worse, but SWTOR has now completely removed all RvR. Both struggled with PvP class balance, but SWTOR has serious problems with CC in PvP.

    </p>

       </div

</div>