{%  extends "base.html" %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            /*$("a").click(function(event){
                alert("hi there again");
                event.preventDefault();
            });*/

            $("#testlink").click(function(event){
                $.ajax({
                    url: '/ajax',
                    dataType: 'json',

                    success: function(response) {

                    },
                    error: function(xhr) {
                        alert('Error: Status = ' + xhr.status);
                    }
                });
                event.preventDefault();
            });

            $('#loadingDiv')
                .hide()  // hide it initially
                .ajaxStart(function() {
                    $(this).show();
                })
                .ajaxStop(function() {
                    $(this).hide();
                });



            $('#example-1-2 .sortable-list').sortable({
            	connectWith: '#example-1-2 .sortable-list',
                stop: function(){
                    $.ajax({
                            url: '/ajax',
                            dataType: 'json',

                            success: function(response) {

                            },
                            error: function(xhr) {
                                alert('Error: Status = ' + xhr.status);
                            }
                        });
                }

            });

        });
    </script>
{% endblock %}

{% block custom-body %}
    <a href="/">go home</a>
    <a href="#" id="testlink">test ajax</a>



    <div id="example-1-2">

    				<div class="column left first">

    					<ul class="sortable-list">
    						<li class="sortable-item">Sortable item A</li>
    						<li class="sortable-item">Sortable item B</li>
    					</ul>

    				</div>

    				<div class="column left">

    					<ul class="sortable-list">
    						<li class="sortable-item">Sortable item C</li>
    						<li class="sortable-item">Sortable item D</li>
    					</ul>

    				</div>

    				<div class="column left">

    					<ul class="sortable-list">
    						<li class="sortable-item">Sortable item E</li>
    					</ul>

    				</div>

    				<div class="clearer">&nbsp;</div>

    			</div>





    {% include "includes/ajax_loading.html" %}

{% endblock %}
